@using System.Collections;
@using Zengenti;
@using Zengenti.Contensis.Delivery;
@using Blackpool.Zengenti.CMS.Models.Weddings;
@using RazorPageWeddingWebsite.Helpers;


@{
    GettingMarriedBlog? model = null;
    var blogEntries = new List<GettingMarriedBlog>();
    var client = ContensisClient.Create();
    var nodes = client.Nodes.GetByPath("residents/life-events/getting-married/stories", null, 2);


    if (nodes != null && nodes.Entry() != null)
    {
        var contentEntry = nodes.Entry();
        model = contentEntry.ToModel<GettingMarriedBlog>();
    }

    if (model != null)
    {
        if (nodes != null && nodes.Children() != null)
        {
            int counter = 0;
            foreach (var childNode in nodes.Children())
            {
                var entry = childNode.Entry();
                if (entry != null)
                {
                    var temp = entry.ToModel<GettingMarriedBlog>();
                    blogEntries.Add(temp);
                    counter++;
                    if (counter == 3) { break; }
                }
            }
        }
    }
}




<div class="custom-container">
    <h2 class="block-title">Real stories</h2>
    <div class="three-columns">
        @foreach (var item in blogEntries)
        {
            <div class="flex-fill column-box">
                <div class="stories-img">
                    <img src="@string.Format("{0}", item.GetFirstImage != null
                                            ? ImageHelper.GetImageUrl(item.GetFirstImage) 
                                            : string.Empty)"
                    alt="@string.Format("{0}", item.GetFirstImage != null
                                                                                                                                                                                                    ? item.GetFirstImage.Value?.AltText
                                                                                                                                                                                                       : string.Empty)" />
            </div>
            <div class="stories-information">
                <h2>@item.PageTitle</h2>
                <p>@item.GetFirstParagraph?.LimitWordsWithQuotations(45)</p>
                <button onclick="window.location.href='@String.Format("{0}", item.FriendlyUrlPath)'"
                    class="white-button width-button-stories">Find out more</button>
            </div>
        </div>
                }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="center-container">
                <button
                    onclick="window.location.href='@string.Format("{0}stories", Constants.WebsiteConstants.SITE_VIEW_PATH)' class="
                    pink-button width-button-stories">View all real
                    stories</button>
            </div>
        </div>
    </div>
</div>
