@page
@using Blackpool.Zengenti.CMS.Helpers.Components
@using RazorPageWeddingWebsite.Helpers
@using Blackpool.Zengenti.CMS.Models.Weddings
@model RazorPageWeddingWebsite.Pages.IndexModel

@{
    GettingMarriedHome? entryModel = (Model != null && Model.Items.Count == 1) ? Model.Items.FirstOrDefault() : null;
    string? heroUrl = (entryModel != null) ? ImageHelper.GetImageUrl(entryModel.HeroImage) : string.Empty;

}

<style type="text/css">
    main {
        max-width: 100%;
    }

    div.hero-banner {
        background-image: url('@heroUrl');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 552px;
    }

    .breadcrumb-container {
        display: none;
    }
</style>

@if (entryModel != null)
{
    <!-- Hero Banner -->
    <div class="hero-banner">
        <div class="hero-banner-information psuedo-wrapper">
            <h2 class="hero-title">@entryModel.HeroHeading</h2>
            <p class="hero-text">@entryModel.HeroText</p>
            @if (entryModel.CTALinks != null)
            {
                <button onclick="window.location.href='@String.Format("{0}", new CtaLinkHelper(entryModel.CTALinks).Url)'"
                    class="pink-button with-arrow flex-left">
                    <span>@entryModel.CTALinks.ButtonText?.Trim()</span>
                    <img src="/static/images/general/arrow-right.svg" alt="arrow" />
                </button>
            }
        </div>
    </div>


    <!--Explore our Venues (section) -->
    <div id="venue-outer-wrapper" class="outer-full-wrapper">
        <div class="venues-section psuedo-wrapper">
            <h2 class="block-title text-center">Explore our venues</h2>
            <div class="row three-column-container">
                <div class="col feature-area-details">
                    <h3 class="sub-title-bold">@entryModel.FeatureElementHeader</h3>
                    <p class="venue-text">@entryModel.FeatureElementText</p>
                    @if (entryModel.CtaLinks1 != null)
                    {
                        <button
                            onclick="window.location.href='@String.Format("{0}", new CtaLinkHelper(entryModel.CtaLinks1).Url)'"
                            class="pink-button">
                            @entryModel.CtaLinks1.ButtonText
                        </button>
                    }
                </div>
                <div class="col feature-area-image-box">
                    <div class="feature-area-venue-image">
                        <img src="@string.Format("{0}", entryModel.FeatureImage != null
                                                                                          ? ImageHelper.GetImageUrl(entryModel.FeatureImage)
                                                                                          : string.Empty)" alt="@string.Format("{0}", entryModel.FeatureImage != null
                                                                                                                                                                       ? entryModel.FeatureImage.AltText
                                                                                                                                                                       : string.Empty)" />
                </div>
            </div>
            <div class="col feature-area-image-box">
                <div class="promotion-area-venue-image"
                    onclick="window.location.href='@String.Format("{0}", entryModel.PromotionalBannerUri)'"
                    style="cursor:pointer;">
                    <img src="@string.Format("{0}", entryModel.PromotionalBannerImage != null
                                                                                  ? ImageHelper.GetImageUrl(entryModel.PromotionalBannerImage)
                                                                                  : string.Empty)" alt="@string.Format("{0}", entryModel.PromotionalBannerImage != null
                                                                                                                                                                   ? entryModel.PromotionalBannerImage.AltText
                                                                                                                                                                   : string.Empty)" />
                    <div class="promotion-text">
                        <h3 class="sub-title text-center" style="color:#fff;">@entryModel.PromotionalBannerTitle</h3>
                        <p style="color:#fff;">@entryModel.PromotionalBannerText</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!--Stories (Section)-->
    <div id="stories-outer-wrapper" class="outer-full-wrapper">
        @await Html.PartialAsync("../shared/_story-three-col-box.cshtml")
    </div>

}
else
{
    <strong>Homepage not being loaded (entry not found) ..</strong>
}

<style type="text/css">
    main {
        max-width: 1068px !important;
        border: solid;
    }
</style>